<main>
  <div class="container">
    <section class="container d-flex flex-column align-items-center py-4">
  <h2 class="wow animate__bounceInDown fw-bold lh-1 mb-5">
    Наши чайные коллекции
  </h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4">
    <div class="col d-flex align-items-stretch" *ngFor="let product of products;">
      <div class="card w-100">
        <a class="image-link" href="#">
          <img
            [src]="product.image"
            class="card-img-top"
            alt="Image {{ product.id }}"
          />
        </a>

        <div
          class="card-body d-flex flex-column justify-content-between"
        >
          <h5 class="card-title fw-bold">{{ product.title }}</h5>
          <p class="card-text">
            {{ product.description | trim : 120 }}
          </p>
          <a routerLink="/products/{{product.id}}" class="btn btn-primary w-50 hvr-skew-forward"
          >Подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
  </div>
</main>
